/* google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(36, 33%, 97%);
    display: flex;
    flex-direction: column;

}

/* header navigation style */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 50px;
}

.nav-title {
    font-weight: bold;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* section title */
.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 50px 50px;
}

.title {
    color: #cdcd94;
    font-size: 45px;
}

.title b {
    color: black;
}

.section-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    column-gap: 15px;
}

.list-dec {
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
}

.btn-ex {
    color: white;
    background-color: #f58505;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
}

.sub-title {
    margin-left: 50px;
}

/* banner style */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 100px 200px;
}

.banner-title {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
}

.banner-description {
    font-weight: bold;
    font-size: 15px;
}

.banner-btn {
    color: white;
    font-size: bold;
    background-color: rgb(247, 199, 125);
    font-weight: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 30px 0 40px 0;
    border: none;
}

.banner-img img {
    width: 1240px;
}

/* section features */
.features {
    display: flex;
    margin: 0px 50px;
}

.architect-img {
    width: 50%;
    margin-left: 100px;
}

.architect-img img {
    height: 800px;

}

.feature {
    border-left: 3px solid orange;
    margin-top: 50px;
}

.feature-section {
    width: 50%;
}

.feature-title {
    margin-left: 50px;
    font-weight: bold;
    font-size: 45px;
}

.features-des {
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0 50px 25px;
}

.versions {
    margin-left: 10px;
}

.version {
    margin: 50px;
}

.version-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.version-dec {
    font-size: 14px;
    font-weight: bold;
}

.btn-style {
    background-color: orange;
    border-radius: 5px;
    padding: 20px 30px;
    margin: -50px;
}

.btn-style h2 {
    font-size: 35px;
    font-weight: bold;
    color: #efede8;
}

span {
    color: rgb(242, 234, 219);
    font-size: 16px;
    text-align: center;
}

/* bonus section */
.section-bonus {
    display: flex;
    margin: 50px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
}

.bonus-title {
    width: 50%;
    font-size: 16px;
    font-weight: bold;
}

.bonus-title h2 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}

.bonus-img {
    width: 50%;
}

.bonus-img img {
    width: 100%;
    border-radius: 5px;
}

/* section Rating */
.section-container {
    margin-top: 150px;
}

.container {
    margin-left: 50px;
}

.container-title {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}

.review {
    display: flex;
    justify-content: space-evenly;
    margin: 70px 0 100px 0;
}

.award {
    border: 2px solid rgb(186, 151, 86);
    border-radius: 5px;
    width: 15%;
    height: 200px;
}

.award-img {
    text-align: center;
    padding-top: 50px;
}

.award-img img {
    width: 30px;
}

.award-win {
    text-align: center;
    font-size: 40px;
}

.awards {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

/* sponsor section */
.sponsor {
    text-align: center;
}

.sponsor-title {
    font-size: 35px;
    font-weight: bold;
    margin: 20px;
}

.section-sponsor {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 100px;
}

.section-img {
    background-image: url(../images/sponsors/amazon.png), linear-gradient(#e3e3e2, #e3e3e2);
    width: 180px;
    height: 50px;
    background-repeat: no-repeat;
    display: inline-block;

}

.figma {
    background-image: url(../images/sponsors/figma.png), linear-gradient(#e3e3e2, #e3e3e2);
}

.google {
    background-image: url(../images/sponsors/google.png), linear-gradient(#e3e3e2, #e3e3e2);
}

/* footer style */
.footer-style {
    background-color: #b8a893;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 576px) {

    nav,
    .section-title,
    .features,
    .section-bonus {
        flex-direction: column;
    }

    .section-image {
        grid-template-columns: 1fr;
    }

    nav ul {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        padding-left: 20px;
    }

    nav li {
        margin-left: 0;
    }

    .banner-img img {
        width: 400px;
    }

    .architect-img img {
        width: 300px;
    }

    .review {
        background-color: #f58505;
        flex-direction: column;
    }

    .section-sponsor {
        flex-direction: column;
        text-align: center;
        row-gap: 50px;
    }

}

.hide {
    display: none;
}